.filter-option-inner-inner {
  color: #FFFFFF;
}

.bootstrap-select > .dropdown-toggle:after {
  color: #FFFFFF;
}

div.popover-header {
  font-style: italic;
  color: gray;
  font-size: 15px;
}

.dropdown-divider {
  display: none;
}

